<form action="">
    <p>Tarea</p>
    <input type="hidden" name="id">
    <div>
        <label for="">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="">Description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="">Propietario</label>
        <select name="personId">
            <option value="0" selected>Selecione una persona</option>
        </select>
    </div>
    <div>
        <label for="">Grupo</label>
        <select name="groupId">
            <option value="0" selected>Selecione un grupo</option>
        </select>
    </div>
</form>